@import "reset";
@import "variables";
@import "typo";
@import "item";
.items {
    width: 100%;
    padding: 10px;
    &__reference {
        border-right: 1px solid #ebe9e9;
        display: inline-block;
    }
    &__recommended {
        display: inline-block;
    }
}